:root {
  --color-background: #191922;
  --color-heading: #f7f5f1;
  --color-red: #cc0200;
  --color-grey-light: #202020;
  --color-grey-dark: #181a22;
}

/* Body  */
html,
body,
#root,
#root > div {
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
}

body {
  display: flex;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
}

/* Header */

.badge-container {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
}

header {
  width: 100%;
}

.header-nav-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202020;
}

.header-nav-container > nav {
  margin-left: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav-container > nav > div {
  margin-left: 4rem;
}

.search-wrapper {
  margin-left: auto;
}

.search-wrapper > input {
  background-color: #121212;
  border: 2px solid var(--color-gray-dark);
  padding-left: 0.4rem;
  width: 24rem;
  height: 2rem;
}

.logo-container {
  width: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image */
.img-xs {
  width: 2.5rem;
  height: 2.5rem;
}

.img-20 {
  width: 20rem;
  height: 20rem;
}

img {
  max-width: 100%;
}

/* Heading */
.md-heading {
  font-weight: bolder;
  font-size: larger;
  color: var(--color-heading);
}

.sm-heading {
  font-weight: bolder;
  font-size: medium;
  color: var(--color-heading);
}

/* Hero */
video {
  border-radius: 0.4rem;
}

.hero-container > video {
  border-radius: 0rem;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Categories */
.categories-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.category-container {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Videos */
.videos-container {
  margin-top: 16rem;
}

.video-container {
  width: 20rem;
  margin-top: 2.4rem;
}

.video-container > video {
  border-radius: 1.2rem;
}

.video-actions {
  width: 100%;
}

.video-details {
  width: 80%;
  padding-left: var(--space-sm);
}

.video-title-info {
  display: flex;
  align-items: center;
  width: 100%;
}
.video-title {
  font-weight: var(--fw-bold);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  color: var(--color-white);
}

.video-subtitle {
  font-weight: var(--fw-bold);
  font-size: 0.6rem;
  color: var(--color-gray-darker);
}

.video-extra-info {
  margin-left: auto;
}

/* Custom video player */
.video-player-container {
  display: flex;
  flex-direction: column;
  height: 60rem;
  width: 80rem;
}

.vjs_video_3-dimensions {
  width: 100%;
}

.video-player-actions {
  width: 100%;
  padding-top: 2rem;
}

.video-player-details {
  width: 100%;
  padding-left: var(--space-sm);
}

.video-player-title {
  font-weight: var(--fw-bold);
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  color: var(--color-white);
}

.video-player-subtitle {
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  color: var(--color-gray-darker);
}

.video-description-container {
  width: 100%;
  display: flex;
  padding-top: 2rem;
}

.video-description {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  text-align: justify;
  color: var(--color-white);
  font-weight: var(--fw-bold);
}

.video-player-buttons {
  margin-left: auto;
  display: flex;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--color-gray-darker);
  padding-top: 2rem;
}

.icon-container {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-text-container {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player-buttons > div {
  margin-left: var(--space-md);
}

/** Grid */
main {
  grid-area: main;
}

aside {
  grid-area: aside;
  height: 100vh;
}

.video-container-wrapper {
  display: grid;
  margin-right: 4rem;
  margin-left: 2rem;
  margin-top: 8rem;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 20rem;
  grid-template-areas:
    "main  main  aside"
    "main  main  aside"
    "main  main  aside";
}

.main-container-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 24rem 1fr;
  grid-template-areas: "aside main";
}

/* SideNavBar */
.main-container-wrapper > aside {
  background-color: var(--color-grey-dark);
}

.stacked-list {
  margin-top: 2rem;
  box-shadow: 0 1px grey;
}

.stacked-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacked-list-item-text {
  width: fit-content;
  text-align: start;
  line-height: 2rem;
  width: 10rem;
}

.stacked-list-item.active {
  background-color: var(--color-grey-light);
}

.stacked-list-item:hover {
  background-color: var(--color-grey-light);
  margin: 0 0.4rem;
  border-radius: 0.4rem;
}

/* Button */
.btn {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.btn-primary {
  background-color: var(--color-red);
}

/* Text Utilities */
.highlight-text {
  color: var(--color-white);
  font-weight: var(--fw-bold);
}

/* Margin Utilities */
.sm-top-margin {
  margin-top: 0.4rem;
}

.sm-left-margin {
  margin-left: 0.8rem;
}

/* Flex Utilities */
.flex-col-wrap-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.flex-row-wrap-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-col-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-row-start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-row-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 100em) and (min-width: 50em) {
  .footer-content > * {
    margin: 1rem;
    padding: 1rem;
  }

  .search-wrapper > form > input {
    width: 10rem;
  }

  header {
    justify-content: flex-start;
  }

  .logo-container {
    margin-left: 0rem;
  }

  .logo-container > a > h1 {
    font-size: var(--fs-lg);
    margin-left: 2rem;
  }

  .btn-header-login {
    margin-left: auto;
  }

  .header-nav {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 48em) {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
  }

  .sm-top-margin {
    margin-top: 0.2rem;
  }

  .video-player-title {
    font-size: 0.8rem;
  }

  .video-player-subtitle {
    font-size: 0.6rem;
  }

  .divider {
    padding-top: 1rem;
  }

  .btn {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  .avatar-md {
    height: 2rem;
    width: 2rem;
  }

  .video-description-container {
    padding-top: 1rem;
  }

  .video-description {
    display: none;
  }

  .video-player-buttons {
    margin-left: 0;
  }

  .video-player-details {
    padding: 0.2rem;
  }

  .video-container-wrapper {
    display: grid;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "aside";
  }

  .video-player-container {
    height: 100%;
    width: 100%;
  }

  .video-player-actions {
    padding-top: 1rem;
  }

  .vjs_video_3-dimensions {
    height: 12rem;
    width: 100%;
  }
  .video-title-info {
    width: 95%;
  }

  .highlight-text {
    font-size: 0.8rem;
  }

  .video-container {
    margin: 2rem;
  }

  .main-container-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 20rem 1fr;
    grid-template-areas: "aside main";
  }

  /* Header */
  header {
    width: 100%;
  }
  nav {
    width: 100%;
  }

  .header-nav-container {
    width: 100%;
  }

  .badge-container {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
  }

  .header-nav-container > nav > div {
    margin-left: 0rem;
  }

  .search-wrapper {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }

  aside {
    display: none;
  }

  .logo-container {
    display: none;
  }

  nav {
    display: none;
  }
  .header-nav-container > nav {
    margin-left: 0rem;
  }
}
